<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update vehicle</title>
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
</head>
<body class="background">
<div th:replace="fragments/menu"></div>
<p>TODO UPDATE VEHICLE</p>
<div th:replace="fragments/footer"></div>
</body>
</html>