### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### currency-api ###
/currency-api/.mvn/
/currency-api/mvnw
/currency-api/mvnw.cmd
/currency-api/HELP.md

### oto-moto-client ###
/otomoto-client/.mvn/
/otomoto-client/mvnw
/otomoto-client/mvnw.cmd
/otomoto-client/HELP.md

### oto-moto-service ###
/otomoto-service/.mvn/
/otomoto-service/mvnw
/otomoto-service/mvnw.cmd
/otomoto-service/HELP.md
